mephi.dtd

<!DOCTYPE  UNIVERSITY [
<!ELEMENT UNIVERSITY (FACULTY+)>
<!ELEMENT FACULTY (DEPARTMENT+)>
<!ATTLIST FACULTY name CDATA #REQUIRED >
<!ELEMENT DEPARTMENT (GROUP+)>
<!ATTLIST DEPARTMENT group_prefix CDATA #REQUIRED>
<!ATTLIST DEPARTMENT number CDATA #REQUIRED>
<!ATTLIST DEPARTMENT name   CDATA #REQUIRED>
<!ELEMENT GROUP (STUDENT+)>
<!ATTLIST GROUP number entering CDATA #REQUIRED>
<!ATTLIST GROUP entering CDATA #REQUIRED>
<!ELEMENT STUDENT EMPTY>
<!ATTLIST STUDENT name CDATA #REQUIRED>
]>
